server {
  listen 443 ssl;
      server_name ${UI_SERVER_NAME};
      ssl_certificate /etc/dehydrated/certs/example.com/fullchain.pem;
      ssl_certificate_key /etc/dehydrated/certs/example.com/privkey.pem;
  location / {
      alias /build;
  }
}
