.App {
  position: inherit;
}
@media (min-width: 991px) {
  .menubar.menubar_landing_page {
    position: initial;
  }
  .landingpage {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
  }
  .App {
    position: absolute;
    top: 94vh;
  }
}
